<!DOCTYPE html>
<html>
<head>
  <script type="text/javacript" src="global.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8">
  <title>Alexandra Millatmal | @halfghaninNE | Journalist & Junior Developer</title>
</head>
<body>
  <header>
    <div class="nav_bar">
      <nav>
        <ul>
          <li><div class="left_indent"></div></li>
          <li><a href="#" id="about_link">About Me</a></li>
          <li><a href="#" id="resume_link">Resume</a></li>
          <li><a href="#" id="portfolio_link">Portfolio</a></li>
          <li><a href="#" id="dreamz_link">Bucket List</a></li>
          <li><a href="http://www.facebook.com/alexandrajmh" id="facebook_link">IMAGE</a></li>
          <li><a href="http://www.twitter.com/halfghaninNE" id="twitter_link">IMAGE</a></li>
          <li><a href="http://www.github.com/halfghaninNE" id="github_link">IMAGE</a></li>
          <li><a href="http://www.linkedin/in/alexandrajmh" id="linkedin_link">IMAGE</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="about" style="display: none">
    <p>ABOUT ME PLACEHOLDER</p>
    <p>Coming soon...</p>
  </div>
  
  <div class = "resume" style="display: none">
    <p>RESUME PLACEHOLDER</p>
    <p>Coming soon...</p>
  </div>
  
  <div class = "portfolio" style="display: none">
    <p>PORTFOLIO PLACEHOLDER</p>
    <p>Coming soon...</p>
  </div>
  
</body>
</html>